
.about{
    padding: 40px 16px;
    .heading{
        color: #2f3192;
          font-size: 40px;
          font-weight: 600;
          line-height: 40px;
          
    }
    .sub-heading{
        color: #01a64f;
            font-size: 32px;
            font-weight: 600;
            line-height: 45px;
    }
    .text{
        text-align: justify;
        line-height: 30px;
        
    }
    .about-button{
            font-weight: 700;
            text-transform: uppercase;
            color: white;
            background-color: #85b81a;
            border-radius: 4px;
            border: none;
            height: 50px;
            margin: 24px 0px;
           
        }
    .image{
        width: 100%;
    }
    .sub-text{
        font-family: "Roboto", sans-serif;
        text-align: justify;
        line-height: 30px;
        margin: 100px 0px;
    }
    .l-text{
        margin: 20px 0px;
    }
    .last-heading{
        margin: 10px ;
      
    }
    .get{
        text-align: center;
        margin-top: 150px;
        font-weight: 900px;
    }
    .rohini{
        text-align: center;
        font-size: 15px;
        
        
    }
    // .about-page-button{
    //     font-weight: 700;
    //         text-transform: uppercase;
    //         color: white;
    //         background-color: #85b81a;
    //         border-radius: 4px;
    //         border: none;
    //         height: 50px;
    //         margin-left: 24px ;
    //         text-align: center;
            
    // }
    .but{
        font-size: 12px;
        margin-left: 470px;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        background-color: #85b81a;
        border-radius: 4px;
        border: none;
        height: 50px;
        // text-align: center;
        padding: 10px 25px;
    }
    // .back-img{
    //     background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
        
    // }
    
}

