.second{
    color: #01a64f;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-left: 24px;
   
    
}
.heading{
  color: #2f3192;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 40px;
  margin-left: 24px;
}
 .text{
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    text-align: justify;
    margin: 30px;
    display: block;
    line-height: 1.8;
}
.btn{
    font-family: "Epilogue", Sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #85b81a;
    border-radius: 3px 3px 3px 3px;
    padding: 17px 37px 17px 37px;
    display: inline-block;
    line-height: 1;
    height: 50px;
    margin: 30px;
   
}
.image{
    width: 100%;
    margin-top: 40px;
}