.head {
  text-align: center;
  background-color: #f4f4f4;
  height: 200px;
  padding-top: 50px;
}

.homeicon {
  text-decoration: none;
  color: grey;
}
.icon {
  margin: 0 10px;
}
.arrow {
  margin: 0 10px;
}
.logo {
}
