.headUpper {
  display: flex;
  background-color: #2f3192;
  width: 100%;
  height: 50px;
  color: white;
}
.Email {
  flex-basis: 50%;
  margin-left: 60px;
  padding-top: 12px;
}
.Contact {
  position: absolute;
  right: 100px;
  margin-right: 2px;
  padding-top: 12px;
}
.nav-link {
  position: relative;
  left: 400px;
}

.headLower {
  position: sticky;
  background-color: white;
}
.Logo {
  
}
.socialogo {
  margin-right: 20px;
  img{
    width: 30px;
    margin-left: 20px;
  }
}
