.banner{
    .carousel-indicators{
        display:none;
    }
    .txt{
        color: aliceblue;
        margin-bottom: 150px;
        margin-right: 300px;
        text-align: center;
    }
    .logo{
        margin-bottom: 150px;
        margin-right: 750px;
        text-align: center;
    }
   
}

