.banner{
    .carousel-indicators{
        display:none;
    }
    .txt{
        color: aliceblue;
        margin-bottom: 300px;
        margin-right: 350px;
    }
    .logo{
        margin-bottom: 280px;
        margin-right: 800px;
    }
   
}
// .carousel-indicators{
//     display:none;
// }
// .txt{
//     color: aliceblue;
//     margin-bottom: 300px;
//     margin-right: 350px;
// }
// .logo{
//     margin-bottom: 280px;
//     margin-right: 800px;
// }
