.carousel-control-prev-icon:hover{
    background-color: green;
    border-radius: 50%;
    width: 45px;
    height: 45px; 
    user-select: none;
}
.carousel-control-next-icon:hover{
    background-color: green;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    user-select: none;
}